---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<h1><center><p style="color:white;">Namasthe</p></center></h1>
<div class="hero">
	<div class="hero_img">
		
		<img src="Baashi.jpg" alt="image not found"  class="image" >
	</div>
	<div class="herosection">
		<p></p>
	</div>
</div>

</Layout>
<style>
	.image{
		height:500px;
		width:100px;;
	}
</style>

